@charset "utf-8";
/**
 * site original class styles
 *
 * @File:    class.css
 * @Auth:    Nully
 * @Make:    10/06/13(Sun)
 * @Ver:     1.0
 * @Copy:    Copyright Nully. Allright Reserved.
 * @Site:    http://
 */






/*---------------------------------------------------------------- BaseClass */
/*-- Style */
.bold { font-weight: bold; }
.red  { color: #C00; }

/*-- FontSize */
.size09 { font-size: .9em; }
.size10 { font-size: 1em; }
.size11 { font-size: 1.1em; }
.size12 { font-size: 1.2em; }
.size13 { font-size: 1.3em; }
.size14 { font-size: 1.4em; }
.size15 { font-size: 1.5em; }
.size16 { font-size: 1.6em; }
.size17 { font-size: 1.7em; }
.size18 { font-size: 1.8em; }
.size19 { font-size: 1.9em; }
.size20 { font-size: 2em; }
.size21 { font-size: 2.1em; }
.size22 { font-size: 2.2em; }
.size23 { font-size: 2.3em; }
.size24 { font-size: 2.4em; }
.size25 { font-size: 2.5em; }
.size26 { font-size: 2.6em; }
.size27 { font-size: 2.7em; }
.size28 { font-size: 2.8em; }
.size29 { font-size: 2.9em; }
.size30 { font-size: 3em; }


/*-- Margin's */
.margin-top05 { margin-top: 5px; }
.margin-top10 { margin-top: 10px; }
.margin-top15 { margin-top: 15px; }
.margin-top20 { margin-top: 20px; }

.margin-right05 { margin-right: 5px; }
.margin-right10 { margin-right: 10px; }
.margin-right15 { margin-right: 15px; }
.margin-right20 { margin-right: 20px; }

.margin-bottom05 { margin-bottom: 5px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom15 { margin-bottom: 15px; }
.margin-bottom20 { margin-bottom: 20px; }

.margin-left05 { margin-left: 5px; }
.margin-left10 { margin-left: 10px; }
.margin-left15 { margin-left: 15px; }
.margin-left20 { margin-left: 20px; }

/*-- Padding's */
.padding-top05 { padding-top: 5px; }
.padding-top10 { padding-top: 10px; }
.padding-top15 { padding-top: 15px; }
.padding-top20 { padding-top: 20px; }

.padding-right05 { padding-right: 5px; }
.padding-right10 { padding-right: 10px; }
.padding-right15 { padding-right: 15px; }
.padding-right20 { padding-right: 20px; }

.padding-bottom05 { padding-bottom: 5px; }
.padding-bottom10 { padding-bottom: 10px; }
.padding-bottom15 { padding-bottom: 15px; }
.padding-bottom20 { padding-bottom: 20px; }

.padding-left05 { padding-left: 5px; }
.padding-left10 { padding-left: 10px; }
.padding-left15 { padding-left: 15px; }
.padding-left20 { padding-left: 20px; }

/*-- Align's */
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }


/*-- Floating's */
.float-left { float: left; }
.float-left { float: right; }
.clear      { clear: both; }

/*-- Clearfix */
.clearfix { zoom: 1; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; line-height: 0; }


