@charset "utf-8";
/**
 * uses site layout styles.
 *
 * @File:    layout.css
 * @Auth:    Nully
 * @Make:    10/06/13(Sun)
 * @Ver:     1.0
 * @Copy:    Copyright Nully. Allright Reserved.
 * @Site:    http://
 */
/*-- default all page uses styles */
body { text-align: center; color: #333; font-size: 100%; line-height: 1.5; background: url("../images/header_bg.gif") repeat-x 0 0; }
a:link, a:visited { text-decoration: underline; }
a:hover {}
a:active {}
h1 { float: left; }
h2 {
    background: url(../images/head_bg.gif) no-repeat 0 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    padding: 0 15px;
    line-height: 2.1;
    margin: 30px 0 0 5px;
}
h3 {}
h4 {}


/*-- Site layout Start */
#container {
    text-align: left;
    width: 780px;
	margin: 0 auto;
    padding: 30px 0 0 0;
}


#header {
    zoom: 1;
}
#header:after {
    content:".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}
#header #post-a-job {
    padding: 15px 0 0;
    float: right;
}


/*-- contnet wrapper Division */
#contents {
}
#contents #searchform {
    margin: 23px 0 0 0;
    padding: 0 35px;
    height: 179px;
    background: url(../images/search_bg.gif) no-repeat 0 0;
    zoom: 1;
}
#contents #searchform #go-search {
    padding: 55px 0 0;
    float: right;
}
#contents #searchform #keywords {
    font-size: 1.5em;
    padding: 5px;
    width: 600px;
}
#contents form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
    visibility: hidden;
}
#contents #searchform #keyword {
    padding: 73px 0 0 0;
}

#content {}


#footer {
    padding: 15px 0 0 0;
    zoom: 1;
}
#footer :after {
    content: ".";
    height: 0;
    display: block;
    clear: both;
    line-height: 0;
    visibility: hidden;
}
#footer ul li {
    display: inline;
    margin: 5px;
}
#footer #footer-navi {
    float: left;
    width: 250px;
}
#footer #footer-copy {
    float: right;
}
#footer #footer-copy a {
    text-decoration: none;
}
